<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>f000</key>
	<string>[害羞]</string>
	<key>f001</key>
	<string>[微笑]</string>
	<key>f002</key>
	<string>[难过]</string>
	<key>f003</key>
	<string>[得意]</string>
	<key>f004</key>
	<string>[闭嘴]</string>
	<key>f005</key>
	<string>[生气]</string>
	<key>f006</key>
	<string>[怒]</string>
	<key>f007</key>
	<string>[不错]</string>
	<key>f008</key>
	<string>[傻笑]</string>
	<key>f009</key>
	<string>[惊讶]</string>
	<key>f010</key>
	<string>[不高兴]</string>
	<key>f011</key>
	<string>[无奈]</string>
	<key>f012</key>
	<string>[高兴]</string>
	<key>f013</key>
	<string>[无趣]</string>
	<key>f014</key>
	<string>[别扭]</string>
	<key>f015</key>
	<string>[吐舌头]</string>
	<key>f016</key>
	<string>[木讷]</string>
	<key>f017</key>
	<string>[尴尬]</string>
	<key>f018</key>
	<string>[开心]</string>
	<key>f019</key>
	<string>[恶魔]</string>
	<key>f020</key>
	<string>[切]</string>
	<key>f021</key>
	<string>[呕]</string>
	<key>f022</key>
	<string>[啤酒]</string>
	<key>f023</key>
	<string>[休息]</string>
	<key>f024</key>
	<string>[吃饭]</string>
	<key>f025</key>
	<string>[鲜花]</string>
	<key>f026</key>
	<string>[凋零]</string>
	<key>f027</key>
	<string>[亲亲]</string>
	<key>f028</key>
	<string>[爱心]</string>
	<key>f029</key>
	<string>[心碎]</string>
	<key>f030</key>
	<string>[蛋糕]</string>
	<key>f031</key>
	<string>[月亮]</string>
	<key>f032</key>
	<string>[礼物]</string>
	<key>f033</key>
	<string>[很好]</string>
	<key>f034</key>
	<string>[差劲]</string>
	<key>f035</key>
	<string>[电灯泡]</string>
	<key>f036</key>
	<string>[电脑]</string>
	<key>f037</key>
	<string>[电影]</string>
	<key>f038</key>
	<string>[度假]</string>
	<key>f039</key>
	<string>[飞机]</string>
	<key>f040</key>
	<string>[狗狗]</string>
	<key>f041</key>
	<string>[花花]</string>
	<key>f042</key>
	<string>[披萨]</string>
	<key>f043</key>
	<string>[蜗牛]</string>
	<key>f044</key>
	<string>[乌云]</string>
	<key>f045</key>
	<string>[香槟]</string>
	<key>f046</key>
	<string>[相机]</string>
	<key>f047</key>
	<string>[小汽车]</string>
	<key>f048</key>
	<string>[下雨]</string>
	<key>f049</key>
	<string>[星星]</string>
	<key>f050</key>
	<string>[音乐]</string>
	<key>f051</key>
	<string>[邮件]</string>
	<key>f052</key>
	<string>[雨伞]</string>
	<key>f053</key>
	<string>[钟表]</string>
</dict>
</plist>
